img {
  height: 250px;
  width: auto;
  border-radius: 8px;
  border: 1px solid black;
    background-color: white;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    padding-left: 5%;
margin-left: 25px;

}

figcaption {
  align-self: center;
}
